body {
  color: white;
  position: relative;
  font-family: "Raleway", "Roboto", sans-serif;
  text-shadow: 1px 1px 2px black;
  font-size: 1.1rem;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

.active {
  color: rgba(0, 0, 0, 0.7);
}

nav {
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar, .navbar-brand, .navbar-collapse {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  text-shadow: none;
}

.jumbotron {
  margin-bottom: 0;
  background: url("https://i.imgur.com/qaxMhIc.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 6rem 2rem;
}
.jumbotron h1 {
  margin-top: 3rem;
}
.jumbotron p {
  padding: 0;
}
.jumbotron img {
  margin-top: 3rem;
}

#Gallery {
  position: relative;
  top: -68px;
}

.main {
  background: #fdf6e4;
  padding-top: 3rem;
  transition: background 1s;
}
.main img {
  max-height: 30rem;
}

.gallery div {
  margin-bottom: 1rem;
}
.gallery div img {
  transition: 0.75s, ease-in-out;
}
.gallery div img:hover {
  opacity: 0.85;
}

#Contact {
  position: relative;
  top: -68px;
}

.contact {
  padding: 2rem 0;
  background: #fdf6e4;
}
.contact .invalid-feedback {
  text-shadow: none;
}

#map {
  height: 100%;
  width: 100%;
  text-shadow: none;
}

.footer {
  background: wheat;
  padding-top: 1.5rem;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul a {
  color: white;
}

.social li {
  display: inline;
  text-shadow: none;
}
.social li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 44px;
  border: black 2px solid;
  border-radius: 50%;
  font-size: 1.24rem;
  color: black;
  background: white;
  transition: background .3s, color .3s ease-in-out;
}
.social li a:hover {
  color: white;
  background-color: black;
}
